<form id="user-form">
    <!DOCTYPE html> 

    <html lang="es"> 
    
    <head> 
    
        <meta charset="UTF-8"> 
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
        <title>Buscador de Empleos - JobMatcher</title> 
    
        <link rel="stylesheet" href="../static/styles.css"> 
    
    </head> 
    
    <body> 
    
        <header> 
    
            <div class="banner"> 
    
                <div class="logo"> 
    
                    <h1>JobMatcher AI</h1> 
    
                </div> 
    
                <nav> 
    
                    <ul> 
    
                        <li><a href="{{ url_for('home') }}">Inicio</a></li> 
    
                        <li><a href="{{ url_for('search') }}">Buscador</a></li> 
    
                        <li class="profile-menu"> 
    
                            <a href="{{ url_for('register_user') }}">Mi Perfil</a> 
    
    
                        </li> 
    
                    </ul> 
    
                </nav> 
    
            </div> 
    
        </header> 
    
        <form id="user-form"action="/generat e-cv" method="post" >
            <label for="name">Nombre Completo:</label>
            <input type="text" id="name" name="name" required>
        
            <label for="location">Ubicación:</label>
            <input type="text" id="location" name="location" required>
        
            <label for="start-date">Fecha de Inicio Preferida:</label>
            <input type="date" id="start-date" name="start-date" required>
        
            <label for="expected-ctc">Expectativa Salarial:</label>
            <input type="text" id="expected-ctc" name="expected-ctc" required>
        
            <label for="experience">Experiencia (en años):</label>
            <input type="number" id="experience" name="experience" required>
        
            <label for="skills">Habilidades:</label>
            <input type="text" id="skills" name="skills" placeholder="Ej: Python, Machine Learning" required>
        
            <button type="submit">Generar Currículum</button>
        </form>
        <div id="cv-output"></div>
       
        <footer> 
    
            <p>© 2024 JobMatcher. Todos los derechos reservados.</p> 
    
        </footer> 
    
    </body> 
    
    </html> 